{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fromage</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h1 class="header__title">Fromage</h1>
        <nav class="nav"></nav>
      </div>
    </header>

    <form action="{% url 'home' %}" method="get">
      <input type="text" name="query" placeholder="Name" />
      <select name="strength">
        <option disabled selected>Select strength</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <select>
        <option disabled selected>Select country</option>
        <option value="France">France</option>
        <option value="Spain">Spain</option>
      </select>
      <button type="submit">Search cheeses</button>
    </form>

   <section class="container">
      <h2 class="heading">My cheeses</h2>
      <ul class="cheeses">
        {% for cheese in cheeses %}
        <li class="cheese-item">
          <a
            href="{% url 'cheese_details' cheese.id %}"
            class="cheese-item__link"
          >
            <img
              class="cheese-item__image"
              src="https://images.pexels.com/photos/4109943/pexels-photo-4109943.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            />
            <div class="cheese-item__content">
              <h3 class="cheese-item__name">{{ cheese.name }}</h3>
              <h4 class="cheese-item__description">
                Strength {{ cheese.strength }} | {{ cheese.country }}
              </h4>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
  </body>
</html>
